html,
body {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.h-60 {
    height: 60px;
}

.bg-red-100 {
    background-color: brown;
}

.px-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.cursor-pointer {
    cursor: pointer;
}